{{if eq .ServiceType "jenkins"}}
<p>{{.i18n.Tr "repo.settings.add_webhook_desc" "https://gogs.io/docs/features/webhook.html" | Str2html}}</p>
<form class="ui form" action="{{.BaseLink}}/settings/services/jenkins/edit" method="post">
	{{.CSRFTokenHTML}}
	<div class="field">
		<div class="required field {{if .Err_PayloadURL}}error{{end}}">
			<label for="payload_url">{{.i18n.Tr "repo.settings.payload_url"}}</label>
			<input id="payload_url" name="jenkins_host" type="url" value="{{.ServiceConfig.JenkinsHost}}" autofocus required>
		</div>
	</div>
	<div class="field {{if .Err_Secret}}error{{end}}">
		<label for="jenkins_user">Jenkins User</label>
		<input id="jenkins_user" name="jenkins_user" type="text" value="{{.ServiceConfig.JenkinsUser}}" autocomplete="off">
	</div>
	<input class="fake" type="password">
	<div class="field {{if .Err_Secret}}error{{end}}">
		<label for="secret">{{.i18n.Tr "repo.settings.secret"}}</label>
		<input id="secret" name="jenkins_token" type="password" value="{{.ServiceConfig.JenkinsToken}}" autocomplete="off">
		<p class="text grey desc">{{.i18n.Tr "repo.settings.secret_desc" | Safe}}</p>
	</div>
	{{template "repo/settings/service/settings" .}}
</form>
{{end}}
