<div class="ui compact small menu">
	<a class="{{if .PageIsList}}active{{end}} item" href="{{.RepoLink}}/issues">{{.i18n.Tr "repo.issue_list_view"}}</a>
	<a class="{{if .PageIsBoard}}active{{end}} item" href="{{.RepoLink}}/board/">{{.i18n.Tr "repo.issue_board_view"}}</a>
	<a class="{{if .PageIsLabels}}active{{end}} item" href="{{.RepoLink}}/labels">{{.i18n.Tr "repo.labels"}}</a>
	<a class="{{if .PageIsMilestones}}active{{end}} item" href="{{.RepoLink}}/milestones">{{.i18n.Tr "repo.milestones"}}</a>
</div>
