
<div class="ui small edit-label modal">
	<div class="header">
		{{.i18n.Tr "repo.issues.label_modify"}}
	</div>
	<div class="content">
		<form class="ui edit-label form" action="{{$.RepoLink}}/labels/edit" method="post">
			{{.CSRFTokenHTML}}
			<input id="label-modal-id" name="id" type="hidden">
			<div class="ui grid">
				<div class="three wide column">
					<div class="ui small input">
						<input class="new-label-input" name="title" placeholder="{{.i18n.Tr "repo.issues.new_label_placeholder"}}" autofocus required>
					</div>
				</div>
				<div class="color picker column">
					<input class="color-picker" name="color" value="#70c24a" required>
				</div>
				<div class="column precolors">
					{{template "repo/issue/label_precolors"}}
				</div>
				<div class="three wide column">
					<div class="ui small input">
						<input class="label-group-input" name="group" placeholder="Label group">
					</div>
				</div>
				<div class="three wide column">
					<div class="ui small input">
						<input class="label-order-input" name="order" placeholder="Label order">
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui negative button">
			{{.i18n.Tr "modal.no"}}
		</div>
		<div class="ui positive right labeled icon button">
			{{.i18n.Tr "modal.modify"}}
			<i class="checkmark icon"></i>
		</div>
	</div>
</div>
