{{template "base/head" .}}
<div class="repository label_groups">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/issue/navbar" .}}
			{{if .IsRepositoryWriter}}
				<div class="ui right">
					<div class="ui green new-label button">{{.i18n.Tr "repo.issues.new_label"}}</div>
				</div>
			{{end}}
		</div>

		{{template "repo/issue/new_label" .}}

		<div class="ui divider"></div>

		{{template "base/alert" .}}

		{{template "repo/issue/label_groups" .}}

		<div class="ui black label right">{{.i18n.Tr "repo.issues.label_count" .NumLabels}}</div>
		<div class="label list">
			<form class="label_batch" action="{{$.RepoLink}}/labels/group/{{.CurrentGroup}}" method="post" enctype="application/json">
				<input type="hidden" value="{{.CSRFToken}}" class="csf">
			{{range .Labels}}
				<li class="item">
					<div class="ui grid">
						<div class="three wide column">
							<div class="ui small input">
								<input class="edit-id" name="id" value="{{.ID}}" type="hidden">
								<input class="edit-label-input" name="title" value="{{.Name}}" placeholder="{{$.i18n.Tr "repo.issues.new_label_placeholder"}}" required>
							</div>
						</div>
						<div class="column three wide color picker" id="label_{{.ID}}">
							<input class="color-picker" name="color" value="{{.Color}}" required>
						</div>
						<div class="column wide precolors" data-color-for="label_{{.ID}}">
							{{template "repo/issue/label_precolors"}}
						</div>
						<div class="three wide column">
							<div class="ui small input">
								<input class="edit-group-input" name="group" value="{{.LabelGroup}}" placeholder="Label group">
							</div>
						</div>
						<div class="three wide column">
							<div class="ui small input">
								<input class="edit-order-input" name="order" value="{{.LabelOrder}}" placeholder="Label order">
							</div>
						</div>
					</div>
				</li>
			{{end}}
				<div class="ui divider"></div>
				<button type="submit" class="ui blue button">Batch Update</button>
			</form>
		</div>
	</div>
</div>

{{if .IsRepositoryWriter}}
	<div class="ui small basic delete modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			{{.i18n.Tr "repo.issues.label_deletion"}}
		</div>
		<div class="content">
			<p>{{.i18n.Tr "repo.issues.label_deletion_desc"}}</p>
		</div>
		<div class="actions">
			<div class="ui red basic inverted cancel button">
				<i class="remove icon"></i>
				{{.i18n.Tr "modal.no"}}
			</div>
			<div class="ui green basic inverted ok button">
				<i class="checkmark icon"></i>
				{{.i18n.Tr "modal.yes"}}
			</div>
		</div>
	</div>


	{{template "repo/issue/edit_label" .}}

{{end}}
{{template "base/footer" .}}
