<div class="ui compact small menu">
	<a class="{{if .PageIsPipelineList}}active{{end}} item" href="{{.RepoLink}}/pipelines">Pipelines</a>
	<a class="{{if .PageIsJobList}}active{{end}} item" href="{{.RepoLink}}/jobs">Jobs</a>
	<a class="{{if .PageIsEnvironmentList}}active{{end}} item" href="{{.RepoLink}}/environments">Environments</a>
</div>
