{{template "base/head" .}}
<div class="repository quickstart">
	{{template "repo/header" .}}
	<div class="ui container">
		<div class="navbar">
			{{template "repo/pipeline/navbar" .}}
			<div class="ui right">
				{{if .IsRepositoryAdmin}}
				<a class="ui green button" href="{{.RepoLink}}/pipelines/new">New Pipeline</a>
				{{end}}
			</div>
		</div>

		<div class="ui divider"></div>

		<div class="ui grid">
			<div class="sixteen wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "repo.quick_guide"}}
				</h4>
				<div class="ui attached guide table segment">
					<div class="item">
						<h3>Initialize this repository </h3>
						<div class="ui action small input">
							<a class="item" href="{{$.RepoLink}}/initialize">
								<i class="octicon octicon-plus"></i> Initialize this project with templates
							</a>
						</div>
					</div>
					<div class="ui divider"></div>

					<div class="item">
						<h3>Migrate from other repository </h3>
						<div class="ui action small input">
							<a class="item" href="{{AppSubURL}}/project/create">
								<i class="octicon octicon-plus"></i> Migrate from other repository
							</a>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
