{{template "base/head" .}}
<div class="explore repositories">
	<div class="ui container">
		<div class="ui grid">
			{{template "project/navbar" .}}
			<div class="twelve wide column content">
				{{template "project/search" .}}
				{{template "project/project_list" .}}
				{{template "project/page" .}}
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
