<div class="ui repository list">
	{{range .Projects}}
	<div class="item">
		<div class="ui header">
			<a class="name" href="{{AppSubURL}}/project/{{.Name}}">{{if $.PageIsExplore}}{{.Owner.Name}} / {{end}}{{.Name}}</a>
			{{if .IsPrivate}}
			<span class="text gold"><i class="octicon octicon-lock"></i></span>
			{{end}}

			<div class="ui right metas">
				<span class="text grey"><i class="octicon octicon-star"></i></span>
				<!--<span class="text grey"><i class="octicon octicon-git-branch"></i> </span>-->
			</div>
		</div>
		{{if .Description}}<p class="has-emoji">{{.Description | Str2html}}</p>{{end}}
		<p class="time">{{$.i18n.Tr "org.repo_updated"}} {{TimeSince .Updated $.i18n.Lang}}</p>
	</div>
	{{end}}
</div>
